<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmu.seckill.mapper.SeckillGoodsMapper">
  <resultMap id="BaseResultMap" type="cn.edu.xmu.seckill.entity.SeckillGoods">
    <id column="id" jdbcType="BIGINT" property="seckillId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice" />
    <result column="seckill_stock" jdbcType="INTEGER" property="seckillStock" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, seckill_price, seckill_stock, begin_time, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_seckill_goods
    where id = #{seckillId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_seckill_goods
    where id = #{seckillId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.edu.xmu.seckill.entity.SeckillGoods">
    insert into t_seckill_goods (id, goods_id, seckill_price, 
      seckill_stock, begin_time, end_time
      )
    values (#{seckillId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{seckillPrice,jdbcType=DECIMAL}, 
      #{seckillStock,jdbcType=INTEGER}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.xmu.seckill.entity.SeckillGoods">
    insert into t_seckill_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seckillId != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="seckillPrice != null">
        seckill_price,
      </if>
      <if test="seckillStock != null">
        seckill_stock,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seckillId != null">
        #{seckillId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="seckillPrice != null">
        #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="seckillStock != null">
        #{seckillStock,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.xmu.seckill.entity.SeckillGoods">
    update t_seckill_goods
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="seckillPrice != null">
        seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="seckillStock != null">
        seckill_stock = #{seckillStock,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{seckillId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.xmu.seckill.entity.SeckillGoods">
    update t_seckill_goods
    set goods_id = #{goodsId,jdbcType=BIGINT},
      seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      seckill_stock = #{seckillStock,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{seckillId,jdbcType=BIGINT}
  </update>
</mapper>